@media (max-width: 768px){
    #logo{
        font-size: 10px;
        position: absolute;
        left: 40px;
        letter-spacing: 3px;
    }

    #navigation{
        height: 10%;
        width: 100%;
    }

    #navpart2{
        font-size: 0.4em;
        position: absolute;
        left: 55%;
        bottom: 40%;
        height: 20%;
        display: flex;
        width: 65%;
    }

    #body{
        height: 60%;
        width: 94%;
        margin-left: 10px;
        background-size: cover;
    }

    #title{
        font-size: 20px;
        /* background-color: yellow; */
        color: white;
        width: 80%;
        letter-spacing: 2px;
        position: absolute;
        left: 10%;
        top: 28%;
    }

    #subtitle{
        font-size: 15px;
        /* background-color: yellow; */
        color: white;
        letter-spacing: 2px;
        width: 70%;
        position: absolute;
        left: 15%;
        top: 36%;
    }

    #button{
        /* background-color: yellow; */
        width: 40%;
        letter-spacing: 2px;
        position: absolute;
        left: 30%;
        top: 45%;
        font-size: 15px;
    }

    #body1{
        height: 80%;
        width: 94%;
        margin-left: 10px;
        background-size: contain;
    }

    #whatispython{
        font-size: 20px;
        top: 75%;
    }

    #answer1{
        font-size: 12px;
        top: 88%;
        text-align: justify;
    }

    #whypython{
        font-size: 20px;
        top: 114%;
        left: 25%;
    }

    #answer2{
        font-size: 12px;
        top: 120%;
        text-align: justify;
    }
}